<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>Transforming Mars</title>
</head>

<body>

  <header class="container-fluid bg-dark text-light">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class=>Transforming Mars</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <h2 class=>Clicks:
          <span id="cheese">0</span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-4 text-center">
        <h2 id="temperature">Temperature(19)</h2>
        <span id="temperature-quantity">19</span>
        <span id="temperature-amount">(0)</span>
      </div>
      <div class="col-4 text-center">
        <h2 id="ocean">Ocean(9)</h2>
        <span id="ocean-quantity">9</span>
        <span id="ocean-amount">(0)</span>
      </div>
      <div class="col-4 text-center">
        <h2 id="greenery">Greenery(14)</h2>
        <span id="greenery-quantity">14</span>
        <span id="greenery-amount">(0)</span>
      </div>
    </div>
    <div class="row">
      <div class="col-4 text-center">
        <span id="sell">sell(-1)</span>
        <span id="sell-quantity">0</span>
        <span id="sell-amount">(0)</span>
      </div>
      <div class="col-4 text-center">
        <span id="nothing">nothing(0)</span>
        <span id="nothing-quantity">0</span>
        <span id="nothing-amount">(0)</span>
      </div>
      <div class="col-4 text-center">
        <span id="city">city(0)</span>
        <span id="city-quantity">0</span>
        <span id="city-amount">(0)</span>
      </div>
    </div>



    <div class="row">
      <div class = "col-5"> 
        <select class="select" id="sCorp" onchange="makeSelection('sCorp', corp)">
          <option value>
            <h3 class="edit">Corparation</h3>
          </option>
          <option>
            <h3 class="edit" value="sell">aridor</h3>
          </option>
          <option>
            <h3 class="edit" value="power">teractor</h3>
          </option>
          <option>
            <h3 class="edit" value="temperature">stromcraft</h3>
          </option>
          <option>
            <h3 class="edit" value="ocean">polyphemos</h3>
          </option>
          <option>
            <h3 class="edit" value="greenery">cinematics</h3>
          </option>
          <option>
            <h3 class="edit" value="city">manutech</h3>
          </option>
          <option>
            <h3 class="edit" value="city">cheung</h3>
          </option>
          <option>
            <h3 class="edit" value="city">poseidon</h3>
          </option>
          <option>
            <h3 class="edit" value="city">mining</h3>
          </option>
          <option>
            <h3 class="edit" value="city">vitor</h3>
          </option>
          <option>
            <h3 class="edit" value="city">thoregate</h3>
          </option>
          <option>
            <h3 class="edit" value="city">valley</h3>
          </option>
          <option>
            <h3 class="edit" value="city">point</h3>
          </option>
          <option>
            <h3 class="edit" value="city">unmi</h3>
          </option>
          <option>
            <h3 class="edit" value="city">viron</h3>
          </option>
          <option>
            <h3 class="edit" value="city">credicor</h3>
          </option>
          <option>
            <h3 class="edit" value="city">arklight</h3>
          </option>
          <option>
            <h3 class="edit" value="city">saturn</h3>
          </option>
          <option>
            <h3 class="edit" value="city">helion</h3>
          </option>
          <option>
            <h3 class="edit" value="city">celestic</h3>
          </option>
          <option>
            <h3 class="edit" value="city">ecoline</h3>
          </option>
          <option>
            <h3 class="edit" value="city">inventrix</h3>
          </option>
          <option>
            <h3 class="edit" value="city">robinson</h3>
          </option>
          <option>
            <h3 class="edit" value="city">phoblog</h3>
          </option>
          <option>
            <h3 class="edit" value="city">tharsis</h3>
          </option>
          <option>
            <h3 class="edit" value="city">aphrodite</h3>
          </option>
          <option>
            <h3 class="edit" value="city">msi</h3>
          </option>
          <!-- <option
              v-for="listInfo in listItems"
              :key="listInfo.id"
              :value="listInfo.id"
            >{{listInfo.name}}</option> -->
        </select>
      </div>
    </div>

    <div class="row">
      <div class = "col-5"> 
        <select class="select" id="sPrelude" onchange="makeSelection('sPrelude', prelude)">
          <option value>
            <h3 class="edit">Prelude</h3>
          </option>
          <option>
            <h3 class="edit" value="sell">martian</h3>
          </option>
          <option>
            <h3 class="edit" value="power">loan</h3>
          </option>
          <option>
            <h3 class="edit" value="temperature">society</h3>
          </option>
          <option>
            <h3 class="edit" value="ocean">biosphere</h3>
          </option>
          <option>
            <h3 class="edit" value="greenery">orbital</h3>
          </option>
          <option>
            <h3 class="edit" value="city">research</h3>
          </option>
          <option>
            <h3 class="edit" value="city">experimental</h3>
          </option>
          <option>
            <h3 class="edit" value="city">donation</h3>
          </option>
          <option>
            <h3 class="edit" value="city">smelting</h3>
          </option>
          <option>
            <h3 class="edit" value="city">excentric</h3>
          </option>
          <option>
            <h3 class="edit" value="city">io</h3>
          </option>
          <option>
            <h3 class="edit" value="city">ecology</h3>
          </option>
          <option>
            <h3 class="edit" value="city">early</h3>
          </option>
          <option>
            <h3 class="edit" value="city">supply</h3>
          </option>
          <option>
            <h3 class="edit" value="city">aquifer</h3>
          </option>
          <option>
            <h3 class="edit" value="city">great</h3>
          </option>
          <option>
            <h3 class="edit" value="city">moholex</h3>
          </option>
          <option>
            <h3 class="edit" value="city">acquired</h3>
          </option>
          <option>
            <h3 class="edit" value="city">self</h3>
          </option>
          <option>
            <h3 class="edit" value="city">biolab</h3>
          </option>
          <option>
            <h3 class="edit" value="city">metal</h3>
          </option>
          <option>
            <h3 class="edit" value="city">nitrogen</h3>
          </option>
          <option>
            <h3 class="edit" value="city">mohole</h3>
          </option>
          <option>
            <h3 class="edit" value="city">huge</h3>
          </option>
          <option>
            <h3 class="edit" value="city">polar</h3>
          </option>
          <option>
            <h3 class="edit" value="city">biofuels</h3>
          </option>
          <option>
            <h3 class="edit" value="city">dome</h3>
          </option>
          <option>
            <h3 class="edit" value="city">metals</h3>
          </option>
          <option>
            <h3 class="edit" value="city">supplier</h3>
          </option>
          <option>
            <h3 class="edit" value="city">business</h3>
          </option>
          <option>
            <h3 class="edit" value="city">unmi</h3>
          </option>
          <option>
            <h3 class="edit" value="city">power</h3>
          </option>
          <option>
            <h3 class="edit" value="city">gaililean</h3>
          </option>
          <option>
            <h3 class="edit" value="city">allied</h3>
          </option>
          <option>
            <h3 class="edit" value="city">mining</h3>
          </option>
          <!-- <option
              v-for="listInfo in listItems"
              :key="listInfo.id"
              :value="listInfo.id"
            >{{listInfo.name}}</option> -->
        </select>
      </div>
    </div>

    <div class="row">
      <div class = "col-5"> 
        <select class="select" id="sCard" onchange="makeSelection('sCard', card)">
          <option value>
            <h3 class="edit">Card</h3>
          </option>
          <option>
            <h3 class="edit" value="sell">demos_down</h3>
          </option>
          <option>
            <h3 class="edit" value="power">ice_asteroid</h3>
          </option>
          <option>
            <h3 class="edit" value="temperature">imported_nitrogen</h3>
          </option>
          <option>
            <h3 class="edit" value="ocean">imported_hydrogen</h3>
          </option>
          <option>
            <h3 class="edit" value="greenery">special_design</h3>
          </option>
          <option>
            <h3 class="edit" value="city">release_of_inert_gasses</h3>
          </option>
          <option>
            <h3 class="edit" value="city">big_asteroid</h3>
          </option>
          <option>
            <h3 class="edit" value="city">coment</h3>
          </option>
          <option>
            <h3 class="edit" value="city">invention_contest</h3>
          </option>
          <option>
            <h3 class="edit" value="city">convoy_from_europa</h3>
          </option>
          <option>
            <h3 class="edit" value="city">nitrogen_rich_asteroid</h3>
          </option>
          <option>
            <h3 class="edit" value="city">asteroid</h3>
          </option>
          <option>
            <h3 class="edit" value="city">large_convoy</h3>
          </option>
          <option>
            <h3 class="edit" value="city">lava_flows</h3>
          </option>
          <option>
            <h3 class="edit" value="city">land_claim</h3>
          </option>
          <option>
            <h3 class="edit" value="city">permafrost_extraction</h3>
          </option>
          <option>
            <h3 class="edit" value="city">aerobraked_ammonia_asteroid</h3>
          </option>
          <option>
            <h3 class="edit" value="city">towing_a_comet</h3>
          </option>
          <option>
            <h3 class="edit" value="city">mining_expedition</h3>
          </option>
          <option>
            <h3 class="edit" value="city">ice_cap_melting</h3>
          </option>
          <option>
            <h3 class="edit" value="city">subterranean_reservoir</h3>
          </option>
          <option>
            <h3 class="edit" value="city">import_of_advanced_ghg</h3>
          </option>
          <option>
            <h3 class="edit" value="city">imported_ghg</h3>
          </option>
          <option>
            <h3 class="edit" value="city">local_heat_trappimng</h3>
          </option>
          <option>
            <h3 class="edit" value="city">giant_ice_asteroid</h3>
          </option>
          <option>
            <h3 class="edit" value="city">flooding</h3>
          </option>
          <option>
            <h3 class="edit" value="city">geothermal_power</h3>
          </option>
          <option>
            <h3 class="edit" value="city">lunar_beam</h3>
          </option>
          <option>
            <h3 class="edit" value="city">giant_space_mirror</h3>
          </option>
          <option>
            <h3 class="edit" value="city">breathing_filters</h3>
          </option>
          <option>
            <h3 class="edit" value="city">kelp_farming</h3>
          </option>
          <option>
            <h3 class="edit" value="city">power</h3>
          </option>
          <option>
            <h3 class="edit" value="city">gaililean</h3>
          </option>
          <option>
            <h3 class="edit" value="city">allied</h3>
          </option>
          <option>
            <h3 class="edit" value="city">mining</h3>
          </option>
          <!-- <option
              v-for="listInfo in listItems"
              :key="listInfo.id"
              :value="listInfo.id"
            >{{listInfo.name}}</option> -->
        </select>
      </div>
    </div>


  </header>

  <main class="containder-fluid bg-dark text-light">
    <div class="row align-items-center">
      <h2 class="col-8 line text-center">
        <div class="row justify-content-around">
          <div class="col-3">

            <col-3 class="m-2">
            <button id="gold" class="btn btn-primary btn-lg" onclick="clickUpgrade('gold')">Gold</button>
          </col-3>
        </div>
          
          <col-2>
            <div id="gold-quantity">+1</div>
          </col-2>
          <col-2>
            <span id="gold-amount">(0)</span>
          </col-2>
          <col-5>
            <select class="select" id="sProject" onchange="buyProjet()">
              <option value>
                <h3 class="edit">Standard Project</h3>
              </option>
              <option>
                <h3 class="edit" value="sell">-1 - Sell</h3>
              </option>
              <option>
                <h3 class="edit" value="power">11 - Power</h3>
              </option>
              <option>
                <h3 class="edit" value="temperature">14 - Temperature</h3>
              </option>
              <option>
                <h3 class="edit" value="ocean">18 - Ocean</h3>
              </option>
              <option>
                <h3 class="edit" value="greenery">23 - Greenery</h3>
              </option>
              <option>
                <h3 class="edit" value="city">25 - City</h3>
              </option>
              <!-- <option
                  v-for="listInfo in listItems"
                  :key="listInfo.id"
                  :value="listInfo.id"
                >{{listInfo.name}}</option> -->
            </select>
          </col-5>
        </div>
        <div class="row justify-content-around">
          <col-3 class="m-2">
            <button id="steel" class="btn btn-primary btn-lg" onclick="clickUpgrade('steel')">Steel</button>
          </col-3>
          <col-2>
            <span id="steel-quantity">+1</span>
          </col-2>
          <col-2>
            <span id="steel-amount">(0)</span>
          </col-2>
          <col-5>
            <button id="rovers" class="btn btn-primary btn-lg" onclick="clickChange('steel', 'gold')">Change to
              Gold</button>
          </col-5>
        </div>
        <div class="row justify-content-around">
          <col-3 class="m-2">
            <button id="titanium" class="btn btn-primary btn-lg" onclick="clickUpgrade('titanium')">Titanium</button>
          </col-3>
          <col-2>
            <span id="titanium-quantity">+1</span>
          </col-2>
          <col-2>
            <span id="titanium-amount">(0)</span>
          </col-2>
          <col-5>
            <button id="rovers" class="btn btn-primary btn-lg" onclick="clickChange('titanium', 'gold')">Change to
              Gold</button>
          </col-5>
        </div>
        <div class="row justify-content-around">
          <col-3 class="m-2">
            <button id="plants" class="btn btn-primary btn-lg btn-block"
              onclick="clickUpgrade('plants')">Plants</button>
          </col-3>
          <col-2>
            <span id="plants-quantity">+1</span>
          </col-2>
          <col-2>
            <span id="plants-amount">(0)</span>
          </col-2>
          <col-5>
            <button id="rovers" class="btn btn-primary btn-lg btn-block"
              onclick="buyUpgrade('greenery','plants')">Greenery</button>
          </col-5>
        </div>
        <div class="row justify-content-around">
          <col-5 class="m-2">
            <button id="power" class="btn btn-primary btn-lg" onclick="clickUpgrade('power')">Power</button>
          </col-5>
          <col-2>
            <span id="power-quantity">+1</span>
          </col-2>
          <col-2>
            <span id="power-amount">(0)</span>
          </col-2>
          <col-5>
            <button id="rovers" class="btn btn-primary btn-lg" onclick="clickChange('power', 'heat')">Change to
              Heat</button>
          </col-5>
        </div>
        <div class="row justify-content-around">
          <col-3 class="m-2">
            <button id="heat" class="btn btn-primary btn-lg" onclick="clickUpgrade('heat')">Heat</button>
          </col-3>
          <col-2>
            <span id="heat-quantity">+1</span>
          </col-2>
          <col-2>
            <span id="heat-amount">(0)</span>
          </col-2>
          <col-5>
            <button id="rovers" class="btn btn-primary btn-lg"
              onclick="buyUpgrade('temperature','heat')">Temperature</button>
          </col-5>
        </div>
      </h2>
      <div class="col-4 bg-dark">
        <img class="rounded img-fluid"
          src="https://tse1.mm.bing.net/th?id=OIP.0EQTq6QWkGLGqRGxoKiKgAHaEN&pid=Api&P=0&w=319&h=182" alt=""
          class="img-fluid x-line" onclick="mine()">
      </div>
    </div>

  </main>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="app.js"></script>
</body>

</html>